<?xml version='1.0' encoding='utf-8'?>
<widget id="com.onetrackmind.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>One Track Mind Magazine</name>
    <description>
        We are an online magazine for the mountain bike world providing you with the latest reviews and insights into the MTB community
    </description>
    <author email="hello@onetrackmind.bike" href="https://onetrackmind.bike">
        One Track Mind Team
    </author>
    <content src="http://google.com" />
    <access origin="*" />
</widget>
